<p id="notice"><%= notice %></p>

<h1>Processos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Formato</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @convert_processes.each do |convert_process| %>
      <tr>
        <td><%= convert_process.name %></td>
        <td><%= convert_process.format %></td>
        <td><%= convert_process.status %></td>
        <td><%= link_to 'Show', convert_process %></td>
        <td><%= link_to 'Destroy', convert_process, 
                method: :delete, data: { confirm: 'Deseja remover o processo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processo', new_convert_process_path, class: 'btn' %>