<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convert_process.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @convert_process.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @convert_process.status %>
</p>

<p>
  <% if @convert_process.status == ConvertProcessStatus::FINISHED %>
    <strong>Download:</strong>
    <%= link_to 'link', rails_blob_path(@convert_process.file) %>
  <% end %>
</p>

<%= link_to 'Back', convert_processes_path %>