<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convert_process.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @convert_process.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @convert_process.status %>
</p>

<%= link_to 'Back', convert_processes_path %>